#title_1{
    position:block;
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    
}
#sc1{
    border-radius: 2px;
    background-image: url('guitar.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    
    height: 100vh;
}

#m_click{
    background-image: url('oak.jpg');
    border-radius: 22%;
    margin: auto;
    width: 50%;
    border: 2px solid rgba(102,51,0,0.5);
    padding: 10px;
    display:block;
}

#m_block{
    margin:20px;
}