#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
#sc0{
background-color: white;
}
#sc1{
    height: 100vh;
    border-radius: 2px;

    margin: 0px;
    
    
}

#tha{
background-color:white; 

}
.ui-page {
    background-color: rgba(0,0,0,0.20);
    background-image: url('bnw_wood.jpg');
}
#sc2{
    display:block;
    filter: grayscale(25%);
    height: 100vh;
    border-radius: 2px;
    margin: 0px;
    
    
}
#cl1{
    height:90px;
}
#title_1{
    position:block;
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    
}
#m_click{
    background-image: url('oak.jpg');
    border-radius: 22%;
    margin: auto;
    width: 70%;
    border: 2px solid rgba(102,51,0,0.5);
    padding: 10px;
    display:block;
}
.m_click{
    background-image: url('oak.jpg');
    border-radius: 22%;
    margin: auto;
    width: 70%;
    border: 2px solid rgba(102,51,0,0.5);
    padding: 10px;
    display:block;
}
#m_click2{
    background-color: white;
    border-radius: 2px;
    margin: auto;
    width: 100%;
    border: 2px solid rgba(102,51,0,0.5);
    padding: 10px;
    display:block;
    height:150px;
}
.m_click3{
    float:left;
    background-color: black;
    border-radius: 2px;
    margin: auto;
    width: 20%;
    border: 2px solid rgba(102,51,0,0.5);
    padding: 10px;
    display:block;
    height:50px;
}

#m_block{
    margin:20px;
}
#m_block2{
    margin:5px;
}

#title_1{
    position:block;
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    
}
#z_box{
 text-align: center;
 background-color: rgba(50,50,50,0.1);
}
#r_box{
    background-color: rgba(90,90,90,0.6);
    text-align: center;
margin:10px;
}
#s_thame{
    background-color: rgba(0,0,0,0.95);
    color:white;
    
}
a {
    color: yellow;
}